@model AutoWash.Models.EF.AllDetails
@{
    ViewBag.Title = "Index";
}

@* User Index *@
<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
                @foreach (var item in ViewBag.sliderList)
                {
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="@Url.Content(item.SLphoto)" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>@item.SLsubject</h3>
                            <h1>@item.SLsubsubject</h1>
                            <p>
                                @item.SLdescription
                            </p>

                        </div>
                    </div>
                }

        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="@Url.Content(Model.LastAboutUs.AUphoto)" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>About Us</p>
                    <h2>@Model.LastAboutUs.AUsubject</h2>
                </div>
                <div class="about-content">
                    <p>
                        @Model.LastAboutUs.AUdescription
                    </p>

                    <ul>
                        <li><i class="far fa-check-circle"></i>Seats washing</li>
                        <li><i class="far fa-check-circle"></i>Vacuum cleaning</li>
                        <li><i class="far fa-check-circle"></i>Interior wet cleaning</li>
                        <li><i class="far fa-check-circle"></i>Window wiping</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="~/Areas/car-wash-template/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-map-marker-alt"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">25</h3>
                        <p>Service Points</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-user"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">350</h3>
                        <p>Engineers & Workers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-users"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">1500</h3>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-check"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">5000</h3>
                        <p>Projects Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Price Start -->
<div class="price">
    <div class="container">
        <div class="section-header text-center">
            <p>Washing Plan</p>
            <h2>Choose Your Plan</h2>
        </div>
        <div class="col">

            @if (!string.IsNullOrEmpty(ViewBag.SentMessage))
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.SentMessage
                </div>
            }
        </div>
        <div class="row">


            @if (Model.LastBasicCleantables != null)
            {
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>@Model.LastBasicCleantables.bplan</h3>
                            <h2><span>$</span><strong>@Model.LastBasicCleantables.bprice</strong><span>.99</span></h2>
                        </div>
                        @if (Model.LastBasicCleantables.bid > 0)
                        {
                            <div class="price-body">
                                <ul>
                                    @foreach (string str in ViewBag.services)
                                    {
                                        var selectedService = Model.LastBasicCleantables.bservices.Split(',');
                                        bool isselected = false;
                                        foreach (var selected in selectedService)
                                        {
                                            if (selected.ToString().Trim() == str)
                                            {
                                                isselected = true;
                                            }
                                        }
                                        if (isselected)
                                        {

                                            <li><i class="far fa-check-circle"></i>@str</li>


                                        }
                                        else
                                        {

                                            <li><i class="far fa-times-circle"></i>@str</li>

                                        }
                                    }
                                </ul>

                            </div>
                        }
                        <div class="price-footer">
                            <a class="btn btn-custom" href="~/AWAdmin/CustomerPlanRequest/GetBasicCleaningRequest">Book Now</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }


            @if (Model.LastPrimeCleantables != null)
            {
                <div class="col-md-4">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <h3>@Model.LastPrimeCleantables.pplan</h3>
                            <h2><span>$</span><strong>@Model.LastPrimeCleantables.pprice</strong><span>.99</span></h2>
                        </div>
                        @if (Model.LastPrimeCleantables.pid > 0)
                        {
                            <div class="price-body">
                                <ul>
                                    @foreach (string str in ViewBag.services)
                                    {
                                        var selectedService = Model.LastPrimeCleantables.pservices.Split(',');
                                        bool isselected = false;
                                        foreach (var selected in selectedService)
                                        {
                                            if (selected.ToString().Trim() == str)
                                            {
                                                isselected = true;
                                            }
                                        }
                                        if (isselected)
                                        {

                                            <li><i class="far fa-check-circle"></i>@str</li>


                                        }
                                        else
                                        {

                                            <li><i class="far fa-times-circle"></i>@str</li>

                                        }
                                    }

                                </ul>
                            </div>

                            <div class="price-footer">
                                <a class="btn btn-custom" href="~/AWAdmin/CustomerPlanRequest/GetPremiumCleaningRequest">Book Now</a>
                            </div>
                        }

                    </div>
                </div>

            }
            else
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            @if (Model.LastComplexCleantables != null)
            {
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>@Model.LastComplexCleantables.cplan</h3>
                            <h2><span>$</span><strong>@Model.LastComplexCleantables.cprice</strong><span>.99</span></h2>
                        </div>
                        @if (Model.LastComplexCleantables.cid > 0)
                        {
                            <div class="price-body">
                                <ul>
                                    @foreach (string str in ViewBag.services)
                                    {
                                        var selectedService = Model.LastComplexCleantables.cservices.Split(',');
                                        bool isselected = false;
                                        foreach (var selected in selectedService)
                                        {
                                            if (selected.ToString().Trim() == str)
                                            {
                                                isselected = true;
                                            }
                                        }
                                        if (isselected)
                                        {

                                            <li><i class="far fa-check-circle"></i>@str</li>


                                        }
                                        else
                                        {

                                            <li><i class="far fa-times-circle"></i>@str</li>

                                        }
                                    }
                                </ul>
                            </div>
                        }

                        <div class="price-footer">
                            <a class="btn btn-custom" href="~/AWAdmin/CustomerPlanRequest/GetComplexCleaningRequest">Book Now</a>
                        </div>
                    </div>
                </div>
            }

            else
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }


        </div>
       
    </div>
</div>
<!-- Price End -->
<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">

            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>Washing Points</p>
                    <h2>@Model.LastWashingPoint.WPsubject </h2>
                </div>
                <div class="row">
                    @foreach (var item in Model.WashingPoint)
                    {
                        <div class="col-md-6">
                            <div class="location-item">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="location-text">
                                    <h3>@item.WPsubsubject</h3>
                                    <p>@item.WPaddress</p>
                                    <p><strong>Call:</strong>@item.WPnumber</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-form">
                    <h3>Request for a car wash</h3>
                    @if (TempData["SentMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SentMessage"]
                        </div>
                    }
                    <form method="post" action="Index">
                        <div class="control-group">
                            <input type="text" id="rname" name="rname" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" id="remail" name="remail" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="rdes" name="rdes" placeholder="Description" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" id="rsubmit" type="submit">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Our Engineers & Workers</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.TeamMember)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="@Url.Content(item.TMphoto)" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>@item.TMname</h2>
                            <p>@item.TMprofession</p>

                        </div>
                    </div>
                </div>
            }

            
        </div>
    </div>
</div>
<!-- Team End -->
